<html>
  <head>
  </head>
  <h1>Available meeting rooms</h1>
  <body>
    <table>
      {{#rows}}
        <tr>
          <td>{{roomid}}</td>
          <td>{{roomname}}</td>
          <td>{{roomdescription}}</td>
          <td>{{roomtype}}</td>
        </tr>
      {{/rows}}
    </table>
  </body>
</html>